*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
}
header{
    height: 25vh;
}
#menu_hamb{
    width: 60px;
    height: 60px;
}
#boton:hover{
    background-color: #d8dfd8;
}
a{
    text-decoration: none !important;
 }
 #img_instagram{
    width: 43px;
    height: 43px;
}
#img_twitter{
    width: 60px;
    height: 60px;
}
#img_facebook{
    width: 40px;
    height: 40px;
}